.dark-theme-input {
  /* Apply the "dark" theme colors */
  
}
/* Style the input element */
.dark-theme-input input {
  background-color: #2d374896;
  color: #edf2f7;
  width: 100% !important;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  border: 1px solid #2d3748;
  outline: none;
  transition: all 0.15s ease-in-out;
}

/* Add hover and focus styles */
.dark-theme-input input:hover,
.dark-theme-input input:focus {
  border-color: #718096;
}

/* Style the placeholder text */
.dark-theme-input input::placeholder {
  color: #a0aec0;
}

.dark-theme-input input:-webkit-autofill,
.dark-theme-input input:-webkit-autofill:hover,
.dark-theme-input input:-webkit-autofill:focus,
.dark-theme-input input:-webkit-autofill:active {
  background-color: #2d3748;
  color: #edf2f7;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s ;
}
