main {
  --header-height: 2rem;
  --nav-width: 54px;

  position: relative;
  margin: var(--header-height) 0 0 0;
  /* padding: 0 1rem; */
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.25s;
}

.nav-list a {
  text-decoration: none;
}

.nav-list a:focus{
  color: var(--eprimary-color) !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--eprimary-color);
  padding: 0 2px;
  transition: 0.25s;
  z-index: 9;
}

.header-toggle {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--esecondary-color);
}

.sidebar-content{
  height: calc(100vh - var(--header-height));
  overflow: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -30%;
  height: 100vh;
  width: var(--nav-width);
  background-color: var(--esecondary-color);
  transition: 0.25s;
  z-index: 10;
}

.sidebar .nav-list{
  border-top: 1px dashed var(--eprimary-color);
}

.sidebar > .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  height: 100%;
}

.sidebar > .nav div{
  min-width: calc(300px - var(--nav-width));
}

.sidebar > .nav .nav-logo,
.sidebar > .nav .nav-link {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 1rem;
  padding: 0rem 0 0 0.45rem;
  min-height: calc(var(--header-height) + 1rem);
}

.sidebar > .nav .nav-logo {
  justify-content: end;
  align-content: center;
}

.sidebar > .nav .nav-logo-icon {
  font-size: 2rem;
  color: var(--eprimary-color);
  cursor: pointer;
  align-self: center;
  
}

.sidebar > .nav .nav-logo-name {
  font-weight: 600;
  color: var(--eprimary-color);
  max-width: 183px;
  min-width: 183px;
  align-self: center;
}

.sidebar > .nav .nav-link {
  position: relative;
  color: var(--elight-font-color);
  transition: 0.25s;
  cursor: pointer;
  align-items: center;
}

.sidebar > .nav .nav-link:hover {
  color: var(--eprimary-color);
  background-color: rgba(0, 0, 0, 0.226);
}

.sidebar > .nav .nav-link-icon {
  font-size: 2.5rem;
}

.sidebar > .nav .active {
  color: var(--eprimary-color);
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar > .nav .active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: calc(var(--header-height) + 1rem);
  width: 3px;
  background-color: var(--eprimary-color);
  transition: 0.25s;
}

.sidebar.show {
  left: 0;
  position: fixed;
  top: 0;
}

.space-toggle {
  padding-left: calc(var(--nav-width) + 0rem);
}

.icon{
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  main {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding: 0 0 0 calc(var(--nav-width) + 0rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding-left: calc(var(--nav-width) + 5px);
  }

  .sidebar-content{
    height: calc(100vh - var(--header-height) - 1rem);
  }

  .sidebar {
    left: 0;
    background-color: #000c;;
  }

  .sidebar.show {
    width: calc(var(--header-height) + 300px - var(--header-height));
  }

  .space-toggle {
    padding-left: 300px;
  }
}
